<h1>People Data Import</h1>
<%= form_for @import, url: import_people_path, multipart: true do |f| %>
  <% if @import.errors.any? %>
    <ul>
    <% @import.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <%= f.label :file, "Select CSV file to upload :" %>
  <%= f.file_field :file, accept: "text/csv" %>
  <%= f.submit "Upload" %>
<% end %>
<h2>Imported Data</h2>
<%= grid(@people_grid) do |g|
  g.column name: 'ID', attribute: 'id'
  g.column name: 'Name', attribute: 'name'
  g.column name: 'First Name', attribute: 'first_name'
  g.column name: 'Last Name', attribute: 'last_name'
  g.column name: 'Locations', attribute: 'name', assoc: :locations do |person|
    person.locations.map(&:name).join(', ') if person.locations
  end
  g.column name: 'Species', attribute: 'species'
  g.column name: 'Gender', attribute: 'gender'
  g.column name: 'Affiliations', attribute: 'name', assoc: :affiliations do |person|
    person.affiliations.map(&:name).join(', ') if person.affiliations
  end
  g.column name: 'Weapon', attribute: 'name', assoc: :weapon
  g.column name: 'Vehicle', attribute: 'name', assoc: :vehicle
end -%>


